<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/public/stylesheets/style-about.css" />
  </head>
  <body>
    <h1>About</h1>
    <p>As our creative process and supply chain begin
      to stabilise, we are working to manage our impact by
      continuously measuring, monitoring and reducing it.
      We are committed to producing fashion with an awareness
      of the material issues of overconsumption, waste,
      and the impact of our supply chain.</p>

    <a href="/home.html" class="my-button">Home</a>
  </body>
</html>