<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/public/style-works.css" />
  </head>
  <body>
    <h1>Works</h1>
    <img src="/public/images/image01.jpg" alt="image01" class="my-imageworks"/>
    <img src="/public/images/image02.jpg" alt="image02" class="my-imageworks"/>
    <img src="/public/images/image03.jpg" alt="image03" class="my-imageworks"/>

    <a href="/views/home.html" class="my-button">Home</a>
  </body>
</html>